parameters:
    level: 8
    paths:
        - framework
        - public
        - src
    excludes_analyse:
        - 'src/Controller'
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false