{% extends 'base.html.twig' %}

{% block title %}Server Error{% endblock %}

{% block body %}
    <div>
        <h1>500 Internal Server Error</h1>
        <p>Sorry, the server has encountered a technical problem.</p>
    </div>
{% endblock %}
