<html>
    <body>
        <p style="color: #47476b; text-align: center; font-size: 150%; font-weight: bold">MyWebsite</p>
        <hr>
        <p>Hello <span style="color: #47476b; font-size: 110%;">{{ recipient.username }}</span>,</p>
        <br/>
        <p>Your password has been reset with success. You can now log in with your new password.</p>
        <br>
        <p style="font-style: italic;">Click <a href="{{ url('login') }}" target="_blank">here</a> to go to MyWebsite.</p>
    </body>
</html>